body {
  margin: 0;
  background-color: black;
}

#element{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 430px;
    margin-left: -300px; /* Half the width */
    margin-top: -215px; /* Half the height */
    animation: 60s ease 70s normal forwards 1 fadein;
    -webkit-animation: 60s ease 70s normal forwards 1 fadein;
    opacity: 0
}

@keyframes fadein{
    0%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadein{
    0%{opacity:0}
    100%{opacity:1}
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

/* Set the animation, color, size and hide the text */
.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    inline-size:  600px;
    overflow-wrap: break-word;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    opacity: 0;
    color:#4bd5ee; /* authentic (as per http://www.theforce.net/fanfilms/postproduction/crawl/opening.asp) */
    color:rgba(75,213,238,1); /* authentic */
    font-family:"Franklin Gothic FS Book", sans-serif; /* authentic */
    font-size:3em;
    line-height:1.5em;
    letter-spacing:0.08em;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Set the animation & hide the logo */
.logo {    
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 322px;
    height: 186px;
    margin-left: -161px; /* Half the width */
    margin-top: -93px; /* Half the height */
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

.logo svg {
    width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
    0% {
        width: auto;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: auto;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: auto;
    }
}

p {
  color: #FFFF82;
}

/* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(100vh) rotateX(50deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {    
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

#episode {
    color:#e5b13a; /* authentic */d
    color:rgba(229,177,58,1); /* authentic */
    font-family:"Franklin Gothic FS Demi", sans-serif; /* authentic */
    font-size:1.5em;
    line-height:1.3em;
    margin-bottom:1.1em;
    font-weight:bold;
    text-align: center;
}

#title {
    color:#e5b13a; /* authentic */d
    color:rgba(229,177,58,1); /* authentic */
    font-family:"Franklin Gothic FS Condensed", sans-serif; /* authentic */
    text-transform:uppercase;
    font-size:1.5em;
    line-height:1.3em;
    margin-bottom:1.1em;
    font-weight:bold;
    text-align: center;
}

#textbody {
    color:#e5b13a; /* authentic */d
    color:rgba(229,177,58,1); /* authentic */
    font-family:"Franklin Gothic FS Demi", sans-serif; /* authentic */
    font-size:1.1em;
    line-height:1.3em;
    margin-bottom:1.1em;
    font-weight:bold;
    text-align:justify;
    text-justify:inter-word;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}